# Blacklist all
/**

# Whitelist allowed
!/README.md
!/LICENSE
!/.gitignore

!/docker-compose.yml
!/olaf-clc.yml
!/.env.template

!/bin/
!/bin/systemd-mailjet

!/conf/
!/conf/systemd-mailjet.conf

!/conf/borgmatic/
!/conf/borgmatic/borgmatic.d/
!/conf/borgmatic/borgmatic.d/config.yaml.template
!/conf/borgmatic/borgmatic.d/crontab.txt
!/conf/borgmatic/borgmatic.d/msmtprc.sh

!/conf/borgmatic/ssh/
!/conf/borgmatic/ssh/.gitkeep

!/conf/traefik/
!/conf/traefik/traefik-common.yml
