# Update following placeholders:
# - REPO_USER
# - REPO_URL
# - SSH_KEY
# - SSH_PORT

location:
    source_directories:
        - /mnt/source

    repositories:
        - <REPO_USER>@<REPO_URL>:repo

storage:
    compression: auto,zstd
    archive_name_format: '{hostname}-{now}'
    ssh_command: 'ssh -i /root/.ssh/<SSH_KEY> -p <SSH_PORT>'

retention:
    keep_daily: 7
    keep_weekly: 4
    keep_monthly: 12
    keep_yearly: 2
    prefix: '{hostname}-'

consistency:
    checks:
        - repository
        - archives
    check_last: 3
    prefix: '{hostname}-'

hooks:
    before_backup:
        - echo "`date` - Starting backup"
    after_backup:
        - echo "`date` - Finished backup"
